.tabela {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.cabecalho {
  color: var (--primary);
}

.conteudo {
  padding: 10px;
  border-bottom: 2px solid green;
}

.linha {
  margin-bottom: 10px;
  border-radius: 4px;
}
